
  /* BASE */
  *,::before,::after{
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  /* Variables Dark theme */
  body.dark-theme{
    background-color: rgb(29, 28, 28);
    
  }
  
  
  
  
  /* Button Dark/Light */
  .change-theme{
    position: absolute;
    right: 16px;
    top: 29px;
    color:teal;
    font-size: 16px;
    cursor: pointer;
  }
  
  body{
    margin: 48px 0 0 0;
    font-family: 'poppins', 'sans-serif';
    font-size: 15.0px;
    background-color:white;
    color:darkolivegreen;
    line-height: 1.6;
  }
  
  p{
     margin: 0;
  }
  h1{
      margin: 0;
  }
  h2{
      margin: 0;
  }
  h3{
      margin: 0;
  }
  
  ul{
    padding: 0;
    list-style: none;
    margin:0;
  }
  
  a{
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  
  /* CLASS CSS*/
  .section{
    padding: 64px 0 32px;
  }
  
  .section-title, .section-sub{
    text-align: center;
  }
  
  .section-title{
    font-size: 36px;
    color: #c7882a;
    margin-bottom: 24px;
  }
  
  .section-sub{
    display: block;
    color: #2F4F4F;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  
  .bd-container{
    max-width: 960px;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .bd-grid{
    display: grid;
    gap: 24px;
  }
  
  .header1{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color:white;

  }
  
  
  .nav{
    max-width: 1024px;
    height: 48p;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header1{
    background-color: #FAEBD7;

  }

  @media screen and (max-width: 768px){
    .nav-menu{
      position: fixed;
       
      top: -100% ;
      left: 0;
      width: 100%;
      padding: 24px 0px 16px;
      text-align:right;
      background-color:black;
      transition: .4s;
      box-shadow: 0 4px 4px rgba(0,0,0,.1);
      border-radius: 0 0 16px 16px;
      z-index: 100;
    }
  }
  
  
  .nav-items{
    padding: auto;
    



  }
  
  .nav-link {
    color: #008080;
    font-weight:500;
  }
  .nav-logo{
    color:#008080;
    font-weight:500;
    margin-right: 2px;
    
  }
  .logo{
    height: 50px;
  }
  .nav-toggle{
    color: #008080;
    font-weight:500;
  }
  
  .nav-logo:hover{
    color:#2F4F4F;
  }
  .nav-list{
    padding-left: 20px;
  }
  
  .nav-link{
    transition: .3s;
  }
  
  .nav-link:hover{
    color: #2F4F4F;
  }
  
  .nav-toggle{
    font-size: 21px;
    cursor: pointer;
  }
  
  /* Show menu */
  .show-menu{
    top: 32px;
   
  }
  
  /* Active menu */
  .active-link{
    color: #2F4F4F;
  }
  
  /* Change background header */
  .scroll-header{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  
  /* Scroll top */
  .scrolltop{
    position: fixed;
    right: 16px;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background:teal;
    border-radius: 6.4px;
    z-index: 10;
    transition: .4s;
    visibility: hidden;

  }
  
  .scrolltop:hover{
    background-color:rgb(2, 77, 58);
  }
  
  .scrolltop-icon{
    font-size: 29px;
    color: white;
  }
  
  /* Show scrolltop */
  .show-scroll{
    visibility: visible;
    bottom: 24px;
  }
  .scroll-top{
      visibility: visible;
      bottom: 24px;
  }
  
  
  .home-container{
    height: calc(100vh - 48px);
    align-content: center;
  }
  
  .home-title{
    font-size: 36px;
    color:teal;
    margin-bottom: 8px;
  }
  
  .home-sub{
    font-size: 24px;
    color: #DEB887;
    margin-bottom: 32px;
  }
  
  .home-img{
    width: 300px;
    justify-self: center;
  }
  
  
  .button{
    display: inline-block;
    background-color: teal;
    color: #FFF;
    padding: 12px 16px;
    border-radius: 8px;
    transition: .3s;
  }
  
  .button:hover{
    background-color:rgb(2, 77, 58);
  }
  
  
  .about-data{
    text-align: center;
  }
  
  .about-description{
    margin-bottom: 24px;
  }
  
  .about-img{
    width: 280px;
    border-radius: 8px;
    justify-self: center;
  }
  
 
  .services-container{
    row-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  
  .services-content{
    text-align: center;
  }
  
  .services-img{
    width: 64px;
    height: 64px;
    fill: teal;
    margin-bottom: 16px;
  }
  
  .services-title{
    font-size: 16px;
    color:#DEB887;
    margin-bottom: 8px;
  }
  
  .services-description{
    padding: 0 24px;
  }
  
  
  .menu-container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  
  .menu-content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:rgb(116, 150, 150);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: 12px;
  }
  
  .menu-img{
    width: 100px;
    align-self: center;
    margin-bottom:16px;
  }
  
  .menu-name{
    font-weight:600;
    color: #DEB887;
  }
  .menu-price{
    font-weight:600;
    color: #DEB887;
  }
  
  .menu-name{
    font-size:15px;
  }
  
  .menu-detail{
    font-size: 13px;
  }
  .menu-price{
    font-size: 13px;
  }
  
  .menu-detail{
    margin-bottom: 8px;
    color: #FFDAB9;
  }
  
  .menu-button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 10px 13px;
    border-radius: 8px 0 8px 0;
  }
  
  
  
  
  .contact-container{
    text-align: center;
  }
  
  .contact-description{
    margin-bottom: 24px;
  }
  
  
  .footer-container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 32px;
  }
  
  .footer-logo{
    font-size: 16px;
    color:teal;
    font-weight: 600;
  }
  
  .footer-description{
    display: block;
    font-size:13px;
    margin: 4px 0 24px;
  }
  
  .footer-social{
    font-size:24px;
    color: #DEB887;
    margin-right: 16px;
  }
  
  .footer-title{
    font-size: 20px;
    color: #DEB887;
    margin-bottom: 16px;
  }
  
  .footer-link{
    display: inline-block;
    color: darkolivegreen;
    margin-bottom:8px;
  }
  
  .footer-link:hover{
    color: rgb(2, 77, 58);
  }
  
  .footer-copy{
    text-align: center;
    font-size: 13px;
    color: rgb(110, 81, 81);
    margin-top: 56px;
  }
  
 
  @media screen and (min-width: 576px){
    .home-container
    
    {
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }
    .about-container
    {
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }
  
    .about-data{
      text-align: initial;
    }
    .about-initial,
    
    .contact-container{
      text-align: initial;
    }
    .contact-container{
      text-align: initial;
    }
    .contact-initial{
      text-align: initial;
    }
  
    .about-img{
      width: 380px;
      order: -1;
    }
  
    .contact-container{
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
    }
    .contact-button{
      justify-self: center;
    }
  }
  
  @media screen and (min-width: 768px){
    body{
      margin: 0;
    }
  
    .section{
      padding-top: 128px;
    }
  
    .nav{
      height: calc(48px + 24px);
    }
    .nav-list{
      display: flex;
    }
    .nav-items{
      margin-left:40px;
      margin-bottom: 0;
      
    }
    .nav-toggle{
      display: none;
    }
  
    .change-theme{
      position: initial;
      margin-left: 16px;
    }
  
    .home-container{
      height: 100vh;
      justify-items: center;
    }
  
    .services-container{
      margin-top: 48px;
    }
    .menu-container{
      margin-top: 48px;
    }
  
    .menu-container{
      grid-template-columns: repeat(3, 210px);
      column-gap: 64px;
    }
    .menu-content{
      padding:24px;
    }
    .menu-img{
      width: 130px;
    }
  
    
  }
  
  @media screen and (min-width: 960px){
    .bd-container{
      margin-left: auto;
      margin-right: auto;
    }
  
    .home-img{
      width: 500px;
    }
  
    .about-container{
    
      column-gap: 112px;
    }
  }
  
  /* For tall screens on mobiles y desktop*/
  @media screen and (min-height: 721px) {
      .home-container {
          height: 640px;
      }
  }



  
  